// var stylus = require('stylus')
// // 给stylus扩展一个random函数
// stylus.define('random', function(min, max) {
// 	if(min === undefined || max === undefined) {
// 	  return Math.random()
// 	}
// 	return Math.floor(Math.random() * (Number(max) - Number(min) + 1)) + Number(min)
// })
// ra= random(0,4)

// $imageStyle = biying

// if ra<=1
//     $imageStyle = meinv
// else if ra <=2
//     $imageStyle = fengjing
// else if ra <= 3
//     $imageStyle = dongman

body {
 	background:url(https://tuapi.eees.cc/api.php?category=biying&type=302);
 	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:100% 100%;
}
